<img class="anarchy-img weapon-img flex-shrink" src="{{weapon.img}}" alt="{{weapon.name}}" title="{{weapon.name}}"/>
<div class="flex-grow-3">
  <h2 class="dialog-roll-title">{{actor.name}} - {{weapon.name}}</h2>
</div>
