<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize ANARCHY.actor.monitors.structure}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.structure.max"
      value="{{data.data.monitors.structure.max}}" 
    />
  </label>
  {{> "systems/anarchy/templates/common/checkbar.hbs"
    code='structure'
    value=data.data.monitors.structure.value
    max=data.data.monitors.structure.max
    rowlength=6
  }}
  <label class="resitance-label">
    {{localize ANARCHY.actor.monitors.resistance}}
    <input class="info-value" type="number" data-dtype="Number" maxlength="2"
      name="data.monitors.structure.resistance"
      value="{{data.data.monitors.structure.resistance}}" 
    />
    {{#if data.data.monitors.structure.resistanceBonus}}
    {{numberFormat data.data.monitors.structure.resistanceBonus sign=true}}
    {{/if}}
  </label>
</div>
