<form class="anarchy-dialog roll-dialog">
  <div class="flexcol">
    <div class="flexrow">
      <img class="anarchy-img actor-img flex-shrink" src="{{actor.img}}" alt="{{actor.name}}" title="{{actor.name}}"/>
      {{> (concat 'systems/anarchy/templates/dialog/parts/title-mode-' mode '.hbs')}}
    </div>

    <div class="flexcol">
      <ul class="alternate-items list-modifiers">
        <li class="flexrow attribute-selector" data-selector="attribute" {{#if item}}data-item-id="{{item.id}}"{{/if}}>
          <label class="flex-grow-2" for="select.attribute1">{{localize ANARCHY.common.roll.attribute}}</label>
          <span class="flex-end">
            <select name="select.attribute1" class="select-attribute" data-dtype="String">
              {{#select attribute}}
              {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.attributes}}
              {{/select}}
            </select>
            <label>&nbsp;</label>
            <label class="selected-attribute-value">{{actorAttribute attribute actor ''}}</label>
          </span>
        </li>
        {{#if (or (eq mode 'skill') (eq mode 'weapon'))}}
          <li class="flexrow">
            <label class="flex-grow-2">{{localize (concat 'ANARCHY.skill.' skill.data.data.code)}}</label>
            <span class="flex-end">
              <input class="item-field-value input-select-modifier"
                type="number" data-dtype="Number"
                value="{{either skill.data.data.value 0}}" maxlength="2" disabled/>
            </span>
          </li>
          {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.specialization}}
        {{/if}}
        {{#if (eq mode 'attribute')}}
          <li class="flexrow attribute-selector" data-selector="attribute2" {{#if item}}data-item-id="{{item.id}}"{{/if}}>
            <label for="select.attribute2" class="flex-grow-2">{{localize ANARCHY.common.roll.attribute2}}</label>
            <span class="flex-end">
              <select name="select.attribute2" class="select-attribute" data-dtype="String">
                  {{#select attribute2}}
                  {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.attributes}}
                  {{/select}}
              </select>
              <label>&nbsp;</label>
              <label class="selected-attribute-value">{{actorAttribute attribute2 actor ''}}</label>
            </span>
          </li>
        {{/if}}

        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.wounds}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.range}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.other}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.reroll}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.rerollForced}}
        <hr>
        {{#if anarchy}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.anarchyDisposition}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.anarchyRisk}}
        {{/if}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.edge}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.glitch}}
        <hr>
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.opponentRerollForced}}
        {{> 'systems/anarchy/templates/dialog/roll-modifier.hbs' modifiers.opponentReduce}}
      </ul>
    </div>
  </div>
</form>
