<form class="skill-roll-dialog">
  <div class="flexcol">
    <div class="flexrow">
      <img class="dialog-img flex-shrink" src="{{skill.img}}" alt="{{skill.name}}"/>
      <div class="flex-grow-3">
        <h2 class="dialog-roll-title">{{actor.name}} - {{skill.name}}</h2>
      </div>
    </div>
    <div class="flex-group-left">
      <ul class="alterne-list list-modifiers">
        <li class="flexrow list-item select-attribute">
          <label class="flex-grow-2" for="select.attribute">{{localize SRA.item.skill.attribute}}</label>
          <span class="flex-end">
            <select name="select.attribute" class="select-skill-attribute" data-dtype="String">
                {{#select skill.data.data.attribute}}
                {{> 'systems/shadowrun-anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.attributes}}
                {{/select}}
            </select>
            <label>&nbsp;</label>
            <label class="selected-attribute-value">
              {{actorAttribute actor skill.data.data.attribute}}
            </label>
          </span>
        </li>
        <li class="flexrow list-item">
          <label class="flex-grow-2">{{localize (concat 'SRA.skill.' skill.data.data.code)}}</label>
          <span class="flex-end">
            <input class="item-field-value input-select-modifier"
              type="number" data-dtype="Number"
              value="{{either skill.data.data.value 0}}" maxlength="2" disabled/>
          </span>
        </li>
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.specialization}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.wounds}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.other}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.reroll}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.rerollForced}}
          <hr>
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.anarchyDisposition}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.anarchyRisk}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.edge}}
          <hr>
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.opponentRerollForced}}
          {{> 'systems/shadowrun-anarchy/templates/dialog/roll-modifier.hbs' modifiers.opponentReduce}}
      </ul>
    </div>
  </div>
</form>
