<form class="anarchy-dialog roll-dialog">
  <div class="flexrow">
    <div class="roll-images flex-shrink">
      <img class="anarchy-img actor-img flex-shrink" src="{{actor.img}}" alt="{{actor.name}}" title="{{actor.name}}"/>
      {{> (concat 'systems/anarchy/templates/roll/parts/image-' mode '.hbs')}}
    </div>
    <div class="roll-parameters">
      {{#each parameters as |parameter|}}
      <div class="parameter" data-parameter-code="{{parameter.code}}" {{#if item}}data-item-id="{{item.id}}"{{/if}}>
        {{> (either parameter.hbsTemplateRoll 'systems/anarchy/templates/roll/parts/generic.hbs') parameter}}
      </div>
      {{/each}}
    </div>
  </div>
</form>
