<div class="attribute-box anarchy-attribute" data-attribute="{{key}}">
  <label for="data.attributes.{{key}}.value">
    <a class="click-roll-attribute">
      {{localizeAttribute key}}
      {{~#if (ne attribute.total attribute.value)}}: {{attribute.total}}{{/if}}
    </a>
  </label>
  <input class="attribute-value" type="number" data-dtype="Number" maxlength="2"
    name="data.attributes.{{key}}.value" value="{{attribute.value}}" 
  />
</div>
