<div class="flexcol" data-attribute="{{key}}">
  <label class="attribute-label" for="data.attributes.{{key}}.value">{{localize (concat 'SRA.attributes.' key)}}</label>
  <input class="attribute-value" type="text" data-dtype="Number"
    name="data.attributes.{{key}}.value" value="{{attribute.value}}" 
  />
</div>
