<div class="item anarchy-gear {{#if data.inactive}}item-inactive{{/if}}" data-item-id="{{_id}}" data-item-type="gear" draggable="true">
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
  <span>
    <label>{{name}}</label>
  </span>
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</div>
