{{#if items.metatype}}
  {{#each items.metatype as | metatype |}}
  <div class="define-item-type anarchy-metatype" data-item-id="{{metatype._id}}" data-item-type="metatype">
    <span>{{metatype.name}}</span>
    <a class="item-control click-item-delete" title="{{localize ANARCHY.common.del}}">
      {{{iconFA 'fas fa-trash'}}}
    </a>
  </div>
  {{/each}}
{{else}}
<div class="anarchy-metatype">
  <span>{{localize ANARCHY.actor.noMetatype}}</span>
</div>
{{/if}}
