{{#if ownerActor}}
<div class="flex-shrink-end">
  {{localize ANARCHY.actor.ownership.owner}}:<br>
  <img class="anarchy-img owner-actor-img" src="{{ownerActor.img}}"/>
  {{ownerActor.name}}
  <a class="item-control click-owner-delete" title="{{localize ANARCHY.common.del}}">
    {{{iconFA 'fas fa-trash'}}}
  </a>
</div>
{{/if}}