<div class="item anarchy-item define-owned-actor" data-actor-id="{{id}}">
  <a class="click-owned-actor-view">
  <img class="anarchy-img owned-actor-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
  </a>
  <span>
    <a class="click-owned-actor-view">
      <label>
        {{name}}
      </label>
    </a>
  </span>
  <div class="flex-shrink-end">
    <a class="item-control click-owned-actor-delete" title="{{localize ANARCHY.common.del}}">
      {{{iconFA 'fas fa-trash'}}}
    </a>
  </div>
</div>
