{{#if ownerActor}}
<div class="flexcol flex-shrink">
  <img class="anarchy-img actor-img" src="{{ownerActor.img}}"/>
  <span>
    {{localize ANARCHY.actor.ownership.owner}}:<br>
    {{ownerActor.name}}
    <a class="item-control click-owner-delete" title="{{localize ANARCHY.common.del}}">
      {{{iconFA 'fas fa-trash'}}}
    </a>
  </span>
</div>
{{/if}}