<div class="flexrow item style-quality {{#if data.positive}}quality-positive{{else}}quality-negative{{/if}}" data-item-id="{{_id}}" data-item-type="quality">
  {{#if img}}
  <img class="sheet-item-img" src="{{img}}" alt="name"/>
  {{/if}}
  <div class="flexcol">
    <label>{{name}}</label>
    <label>{{{data.description}}}</label>
  </div>
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</div>
