 <div class="flexrow item" data-item-id="{{_id}}" data-item-type="shadowamp">
  <img class="sheet-item-img flex-shrink" src="{{img}}" alt="name"/>
  <div>
    <label>{{localize 'SRA.item.shadowamp.level_short'}} {{data.level}}</label>
    <label>{{name}}</label>
    {{#if data.essence}}<label>{{localize 'SRA.item.shadowamp.essence_short'}} {{data.essence}}</label>{{/if}}
    <br>
    <label>{{data.description}}</label>
  </div>
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</div>
