 <div class="flexrow item style-shadowamp" data-item-id="{{_id}}" data-item-type="shadowamp">
  <img class="sheet-item-img flex-shrink" src="{{img}}" alt="name"/>
  <div>
    <label>{{name}}</label>
    <label>({{localize 'SRA.item.shadowamp.levelShort'}} {{data.level}})</label>
    {{#if data.essence}}<label>{{localize 'SRA.item.shadowamp.essenceShort'}} {{data.essence}}</label>{{/if}}
    <br>
    <label>{{{data.description}}}</label>
  </div>
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</div>
