<div class="flexrow item" data-item-id="{{_id}}" data-item-type="skill">
  {{#if img}}
  <img class="sheet-item-img" src="{{img}}" alt="name"/>
  {{/if}}
  {{#if (eq data.attribute 'knowledge')}}
  <span title="{{localize 'SRA.attributes.knowledge'}}">
    <i class="fas fa-user-graduate"></i>
    <label>{{name}}</label>
  </span>
  {{else}}
  {{#if data.specialization}}
    <div class="flexcol">
  {{/if}}
  <span class="flexrow">
    <a class="skill-label"><label>{{name}}</label></a>
    <input class="skill-value" type="text" data-dtype="Number"
        name="skill.{{_id}}.value" value="{{data.value}}" />

    + {{toUpperCase (substring (localize (concat 'SRA.attributes.' data.attribute)) 0 3)}}
  </span>
  {{#if data.specialization}}
    <span class="flexrow">
      <a class="skill-specialization-label">({{data.specialization}} +2)</a>
    </span>
  </div>
  {{/if}}
  {{/if}}
  <span>
  <a class="item-control item-edit" title="{{localize 'SRA.common.edit'}}"><i class="fas fa-edit"></i></a>
  <a class="item-control item-delete" title="{{localize 'SRA.common.del'}}"><i class="fas fa-trash"></i></a>
  </span>
</div>
