<div class="flexrow item anarchy-skill" data-item-id="{{_id}}" data-item-type="skill">
  {{#if img}}
  <img class="anarchy-img item-img" src="{{img}}" alt="name"/>
  {{/if}}
  {{#if (eq data.attribute 'knowledge')}}
  <span title="{{localize 'ANARCHY.attributes.knowledge'}}">
    {{{iconFA 'fas fa-user-graduate'}}}
    <label>{{name}}</label>
  </span>
  {{else}}
    <div class="flexcol">
      <span class="flexrow">
        <a class="click-skill-roll">
          <label>{{name}}</label>
          <label>{{data.value}} + {{localizeAttribute data.attribute}}</label>
        </a>
      </span>
      {{#if data.specialization}}
        <span class="flexrow">
          <a class="click-skill-roll" data-item-specialization="{{data.specialization}}">(
            <label>{{data.specialization}}</label>
            <label>{{sum data.value 2}} + {{localizeAttribute data.attribute}}</label>
          )</a>
        </span>
      {{/if}}
    </div>
  {{/if}}
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</div>
