<div class="flexrow item style-skill" data-item-id="{{_id}}" data-item-type="skill">
  {{#if img}}
  <img class="sheet-item-img" src="{{img}}" alt="name"/>
  {{/if}}
  {{#if (eq data.attribute 'knowledge')}}
  <span title="{{localize 'SRA.attributes.knowledge'}}">
    <i class="fas fa-user-graduate"></i>
    <label>{{name}}</label>
  </span>
  {{else}}
    <div class="flexcol">
      <span class="flexrow">
        <a class="click-skill-roll">
          <label>{{name}}</label>
          <label>{{data.value}} + {{toUpperCase (substring (localize (concat 'SRA.attributes.' data.attribute)) 0 3)}}
          </label>
        </a>
      </span>
      {{#if data.specialization}}
        <span class="flexrow">
          <a class="click-skill-roll" data-item-specialization="{{data.specialization}}">(
            <label>{{data.specialization}}</label>
            <label>{{sum data.value 2}} + {{toUpperCase (substring (localize (concat 'SRA.attributes.' data.attribute)) 0 3)}}</label>
          )</a>
        </span>
      {{/if}}
    </div>
  {{/if}}
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</div>
