<li class="flexrow list-item item" data-item-id="{{_id}}" data-item-type="weapon">
  {{#if img}}
  <img class="sheet-item-img" src="{{img}}" alt="name"/>
  {{/if}}
  <span>{{name}}</span>
  <span>
    {{> 'systems/shadowrun-anarchy/templates/common/damagecode.hbs'
      strength=data.strength
      damage=data.damage
      monitor=data.monitor
      noarmor=data.noarmor
    }}
  </span>
  <span>{{localize (concat 'SRA.area.' data.area)}}</span>
  <span>{{either data.range.short 'OK'}}</span>
  <span>
    {{#unless (eq data.range.max "short")}}
    {{either data.range.medium 'OK'}}
    {{/unless}}
  </span>
  <span>
    {{#if (eq data.range.max "long")}}
    {{either data.range.long 'OK'}}
    {{/if}}
  </span>
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs'}}
</li>
