<div class="define-item-type weapon" data-item-type="weapon">
  <h2>
      <label>{{localize 'SRA.itemType.plural.weapon'}}</label>
      <a class="item-control click-item-add" title="{{localize 'SRA.common.add'}}"><i class="fas fa-plus-circle"></i></a>
  </h2>
  <ul class="alterne-list">
    <li class="list-header flexrow list-item">
      <span class="flex-shrink-start"></span>
      <span class="flex-grow-2">{{localize 'SRA.itemType.singular.weapon'}}</span>
      <span class="flex-grow-2">{{localize 'SRA.item.weapon.damageShort'}}</span>
      <span class="flex-shrink">{{localize 'SRA.item.weapon.areaShort'}}</span>
      <span class="flex-shrink">{{localize 'SRA.range.short'}}</span>
      <span class="flex-shrink">{{localize 'SRA.range.medium'}}</span>
      <span class="flex-shrink">{{localize 'SRA.range.long'}}</span>
      <span class="flex-shrink-end"></span>
    </li>
    {{#each items.weapon as |weapon|}}
    {{> "systems/shadowrun-anarchy/templates/actor/parts/weapon.hbs" weapon}}
    {{/each}}
  </ul>
</div>
