<li class="flexrow item {{#if data.inactive}}item-inactive{{/if}}" data-item-id="{{_id}}" data-item-type="weapon" draggable="true">
  <span class="flex-shrink-start">
  {{#if img}}
    <a class="click-weapon-roll"><img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/></a>
  {{/if}}
  </span>
  <span class="flex-grow-2"><a class="click-weapon-roll">{{name}}</a>
    {{#if data.description}}
    <br>
    {{{data.description}}}
    {{/if}}
  </span>
  <span class="flex-grow-2">
    {{> 'systems/anarchy/templates/common/damage-code.hbs'
      strength=data.strength
      actorStrength=@root.actor.data.data.attributes.strength.value
      damage=data.damage
      monitor=data.monitor
      noArmor=data.noArmor
    }}
  </span>
  <span class="flex-shrink">{{localize (concat 'ANARCHY.area.' (either data.area 'none'))}}</span>
  <span class="flex-shrink">{{either data.range.short 'OK'}}</span>
  <span class="flex-shrink">
    {{#unless (eq data.range.max "short")}}
    {{either data.range.medium 'OK'}}
    {{/unless}}
  </span>
  <span class="flex-shrink">
    {{#if (eq data.range.max "long")}}
    {{either data.range.long 'OK'}}
    {{/if}}
  </span>
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</li>
