<h3 class="define-wordlist" data-wordlist="{{listName}}">
  <label>{{localize (concat 'SRA.actor.plural.' listName)}}</label>
  <a class="item-control wordlist-add" title="{{localize 'SRA.common.add'}}"><i class="fas fa-plus-circle"></i></a>
</h3>
{{#each values as |value|}}
<div class="define-wordlist" data-wordlist="{{../listName}}" data-word="{{value}}">
  <span class="flexrow">
    <input class="wordlist-value" type="text" data-dtype="String" value="{{value}}"/>
    <a class="item-control wordlist-delete flex-shrink-end" title="{{localize 'SRA.common.del'}}"><i class="fas fa-trash"></i></a>
  </span>
</div>
{{/each}}
