<div class="flexrow item style-attribute" data-attribute="{{key}}">
  <a class="click-roll-attribute">
    <label for="data.attributes.{{key}}.value">{{localizeAttribute key}}</label>
  </a>
  <input class="style-attribute-value-small" type="text" data-dtype="Number" maxlength="2"
    name="data.attributes.{{key}}.value" value="{{attribute.value}}" 
  />
</div>
