 <div class="flexrow define-item-type item anarchy-item anarchy-shadowamp {{#if data.inactive}}item-inactive{{/if}}" data-item-id="{{_id}}" data-item-type="shadowamp" draggable="true">
  <label>
    {{name}}
    ({{localize 'ANARCHY.item.shadowamp.levelShort'}} {{data.level}})
    <br>
    {{{data.description}}}
  </label>
  {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
</div>
