<div class="flexrow item anarchy-skill" data-item-id="{{_id}}" data-item-type="skill">
  {{> 'systems/anarchy/templates/common/item-controls.hbs' controlDivClass='flex-shrink-control-start'}}
  {{#if (eq data.attribute 'knowledge')}}
  <span title="{{localize 'ANARCHY.attributes.knowledge'}}">
    {{{iconFA 'fas fa-user-graduate'}}}
    <label>{{name}}</label>
  </span>
  {{else}}
    <div class="flexcol">
      <span class="flexrow">
        <a class="click-skill-roll">
          <label>{{name}}</label>
          <label>{{skillValue @root.actor _id}}</label>
        </a>
      </span>
      {{#if data.specialization}}
        <span class="flexrow">
          <a class="click-skill-roll" data-item-specialization="{{data.specialization}}">(
            <label>{{data.specialization}}</label>
            <label>{{specializationValue @root.actor _id}}</label>
          )</a>
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>
