<li class="flexrow list-item item" data-item-id="{{_id}}" data-item-type="weapon">
  {{> 'systems/shadowrun-anarchy/templates/common/item-controls.hbs' controlDivClass='flex-shrink-control-start'}}
  <span class="flex-grow-2">{{name}}</span>
  <span class="flex-grow-2">
    {{> 'systems/shadowrun-anarchy/templates/common/damage-code.hbs'
      strength=data.strength
      actorStrength=@root.actor.data.data.attributes.strength.value
      damage=data.damage
      monitor=data.monitor
      noArmor=data.noArmor
    }}
  </span>
  <span class="flex-shrink">{{localize (concat 'SRA.area.' (either data.area 'none'))}}</span>
  <span class="flex-shrink">{{either data.range.short 'OK'}}</span>
  <span class="flex-shrink">
    {{#unless (eq data.range.max "short")}}
    {{either data.range.medium 'OK'}}
    {{/unless}}
  </span>
  <span class="flex-shrink">
    {{#if (eq data.range.max "long")}}
    {{either data.range.long 'OK'}}
    {{/if}}
  </span>
</li>
