<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      <div class="flexcol">
        <h1 class="charname flexrow"><input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'SRA.sheet.actorName'}}"/></h1>
        <hr>
        {{> "systems/shadowrun-anarchy/templates/actor/parts/attributes.hbs"}}
      </div>
    </header>
      {{!-- Sheet Tab Navigation --}}
<hr>
    <div class="flexrow">
      <div class="flexcol">
      {{> "systems/shadowrun-anarchy/templates/actor/parts/wordlist.hbs" listName='keywords' values=data.data.description.keywords}}
      </div>
      <div class="flexcol flex-grow">
      {{> "systems/shadowrun-anarchy/templates/actor/parts/wordlist.hbs" listName='dispositions' values=data.data.description.dispositions}}
      </div>
      <div class="flexcol">
      {{> "systems/shadowrun-anarchy/templates/actor/parts/wordlist.hbs" listName='cues' values=data.data.description.cues}}
      </div>
    </div>
<hr>

</form>