<form class="{{options.cssClass}} character-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <div class="flexcol">
      <div class="flexrow">
        <div class="flex-grow-2 flexcol">
          <h1 class="actor-name flexrow">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize ANARCHY.actor.actorName}}"/>
          </h1>
          <div class="flexrow">
          {{> "systems/anarchy/templates/actor/parts/attributebuttons.hbs"}}
          </div>
        </div>
        <div class="flexcol flex-shrink">
          <div class="flexrow">
          {{> "systems/anarchy/templates/actor/parts/metatype.hbs"}}
          {{> "systems/anarchy/templates/actor/parts/genre.hbs"}}
          {{> "systems/anarchy/templates/actor/parts/capacity.hbs"}}
          </div>
          <div class="flexrow">
          {{> "systems/anarchy/templates/actor/parts/karma.hbs"}}
          </div>
          <div class="flexrow">
          {{> "systems/anarchy/templates/actor/parts/essence.hbs"}}
          </div>
        </div>
        {{> 'systems/anarchy/templates/actor/parts/ownership.hbs'}}
      </div>
      <div class="flexrow">
      {{> "systems/anarchy/templates/actor/parts/attributes.hbs"}}
      </div>
      <div class="flexrow">
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="flexcol anarchy-keywords">
      {{> "systems/anarchy/templates/actor/parts/wordlist.hbs" listName='keyword' values=data.data.keywords}}
      </div>
      <div class="flexcol flex-grow-3 anarchy-dispositions">
      {{> "systems/anarchy/templates/actor/parts/wordlist.hbs" listName='disposition' values=data.data.dispositions}}
      </div>
      <div class="flexcol anarchy-cues">
      {{> "systems/anarchy/templates/actor/parts/wordlist.hbs" listName='cue' values=data.data.cues}}
      </div>
    </div>
    <div class="flexcol anarchy-block">
    {{> "systems/anarchy/templates/actor/parts/skills.hbs"}}
    </div>
    <div class="flexcol anarchy-block">
    {{> "systems/anarchy/templates/actor/parts/shadowamps.hbs"}}
    </div>
    <div class="flexcol anarchy-block">
    {{> "systems/anarchy/templates/actor/parts/qualities.hbs"}}
    </div>
    <div class="flexcol anarchy-block">
    {{> "systems/anarchy/templates/actor/parts/weapons.hbs"}}
    </div>
    <h2></h2>
    <div class="flexrow">
      <div class="anarchy-block flexcol">
        {{> "systems/anarchy/templates/actor/monitors/edge.hbs"}}
        {{> "systems/anarchy/templates/actor/monitors/anarchy.hbs"}}
      </div>
      <div class="anarchy-block">
        {{> "systems/anarchy/templates/actor/monitors/armor.hbs"}}
      </div>
      <div class="anarchy-block flexrow flex-wrap">
        {{> "systems/anarchy/templates/actor/monitors/physical.hbs"}}
        {{> "systems/anarchy/templates/actor/monitors/stun.hbs"}}
      </div>
    </div>
    <div class="anarchy-block flexrow">
      <div>
      {{> "systems/anarchy/templates/actor/parts/gears.hbs"}}
      </div>
      <div>
      {{> "systems/anarchy/templates/actor/parts/contacts.hbs"}}
      </div>
    </div>
    <div class="anarchy-block">
      {{> 'systems/anarchy/templates/actor/parts/description.hbs'}}
      {{> 'systems/anarchy/templates/actor/parts/gmnotes.hbs'}}
    </div>
  </section>
</form>