<form class="{{options.cssClass}} npc-character-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <div class="flexcol">
      <div class="flexrow flex-group-left">
        <div class="flex-grow-2">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize ANARCHY.actor.actorName}}"/>
        </div>
        <div class="flex-shrink">
          {{> "systems/anarchy/templates/actor/parts/genre.hbs"}}
        </div>
        <div class="flex-shrink">
          {{> "systems/anarchy/templates/actor/parts/metatype.hbs"}}
        </div>
        {{> 'systems/anarchy/templates/actor/parts/ownership.hbs'}}
      </div>
      <div class="flexrow flex-group-left">
        <div>
          {{> "systems/anarchy/templates/actor/npc-parts/essence.hbs"}}
        </div>
        <div class="flex-shrink">
          {{> "systems/anarchy/templates/actor/parts/capacity.hbs"}}
        </div>
      </div>
      <div class="flexrow">
      {{> "systems/anarchy/templates/actor/parts/attributebuttons.hbs"}}
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      {{#each data.data.attributes as |attribute key|}}
      {{> "systems/anarchy/templates/actor/npc-parts/attribute.hbs" attribute=attribute key=key}}
      {{/each}}
    </div>
    <div class="flexrow">
      <div class="anarchy-block flexcol">
        {{> "systems/anarchy/templates/actor/monitors/edge.hbs"}}
        {{> "systems/anarchy/templates/actor/monitors/anarchy.hbs"}}
      </div>
      <div class="anarchy-block">
        {{> "systems/anarchy/templates/actor/monitors/armor.hbs"}}
      </div>
      <div class="anarchy-block flexrow flex-wrap">
        {{> "systems/anarchy/templates/actor/monitors/physical.hbs"}}
        {{> "systems/anarchy/templates/actor/monitors/stun.hbs"}}
      </div>
    </div>
    <div class="flexrow">
      <div class="flexcol">
        {{> "systems/anarchy/templates/actor/npc-parts/skills.hbs"}}
        </div>
      <div class="flexcol flex-grow-2">
      {{> "systems/anarchy/templates/actor/npc-parts/weapons.hbs"}}
      </div>
    </div>
    <div class="define-item-type item-container" data-item-type="shadowamp">
      <h2>
        <label>{{localize 'ANARCHY.itemType.plural.shadowamp'}}</label>
        {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='shadowamp'}}
      </h2>
        <div class="flexrow flex-wrap">
        {{#each items.shadowamp as |shadowamp|}}
        {{> "systems/anarchy/templates/actor/npc-parts/shadowamp.hbs" shadowamp}}
        {{/each}}
      </div>
    </div>
    <div class="define-item-type item-container" data-item-type="quality">
      <h2>
          <label>{{localize 'ANARCHY.itemType.plural.quality'}}</label>
          {{> 'systems/anarchy/templates/common/item-control-add.hbs' itemType='quality'}}
      </h2>
      <div class="flexrow flex-wrap">
        {{#each items.quality as |quality|}}
        {{> "systems/anarchy/templates/actor/npc-parts/quality.hbs" quality}}
        {{/each}}
      </div>
    </div>
    <div>
    {{> 'systems/anarchy/templates/actor/parts/description.hbs'}}
    {{> 'systems/anarchy/templates/actor/parts/gmnotes.hbs'}}
    </div>
  </section>
</form>