<img class="chat-img" src="{{actor.img}}" alt="{{actor.name}}"/>
{{!-- Dice pool explanation --}}
<div class="tooltip tooltip-dotted">
  <h3 class="chat-roll-title">
    {{actor.name}} - {{localizeAttribute attribute}}
    {{~#if attribute2}}+{{localizeAttribute attribute2}}{{/if}} : {{roll.pool}}
  </h3>
  <div class="tooltiptext tooltip-roll-modifiers">
    <div>{{localizeAttribute attribute}}: {{actorAttribute actor attribute}}</div>
    {{#if attribute2}}
    <div>{{localizeAttribute attribute2}}: {{actorAttribute actor attribute2}}</div>
    {{/if}}
    {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.wounds}}
    {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.other}}
    {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.anarchyDisposition}}
  </div>
</div>
<br>
{{!-- Roll successes explanation --}}
<div class="tooltip tooltip-dotted">
  <h3 class="chat-roll-title">
    {{localize ANARCHY.common.roll.success}}: {{roll.hits}}
  </h3>
  <div class="tooltiptext tooltip-roll-modifiers">
    <div>{{localize ANARCHY.common.roll.success}}: {{roll.roll.total}} / {{roll.param.pool}}</div>
    {{#if roll.subrolls.reroll}}
    <div>{{localize ANARCHY.common.roll.rerollSuccess}}: {{roll.subrolls.reroll.total}} / {{roll.param.reroll}}</div>
    {{/if}}
    {{#if roll.subrolls.rerollForced}}
    <div>{{localize ANARCHY.common.roll.rerollForcedLoss}}: -{{roll.param.rerollForced}}</div>
    <div>{{localize ANARCHY.common.roll.rerollForcedSuccess}}: {{roll.subrolls.rerollForced.total}} / {{roll.param.rerollForced}}</div>
    {{/if}}
    {{#if (eq roll.subrolls.risk.outcome 'prowess')}}
    <div>{{localize 'ANARCHY.common.roll.risk.prowess'}}: 1</div>
    {{/if}}
  </div>
</div>

{{#unless modifiers.edge.used}}
<div>
  {{> 'systems/anarchy/templates/chat/edge-reroll-button.hbs'}}
</div>
{{/unless}}

<div>
  <div class="alternate-items">
  {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.anarchyRisk}}
  {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.anarchyDisposition}}
  {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.edge}}
  {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.opponentRerollForced}}
  {{> 'systems/anarchy/templates/chat/roll-modifier.hbs' modifiers.opponentReduce}}
  </div>
</div>