{{#if modifiers.anarchyRisk.used}}
  <div class="anarchy-risk-{{roll.subrolls.risk.outcome}}">
    {{localize ANARCHY.common.roll.modifiers.anarchyRisk}}:
    <span class="anarchy-risk-dice {{roll.subrolls.risk.outcome}}">
      {{{iconD6 roll.subrolls.risk.terms.[0].results.[0].result}}}
    </span>
    {{localize (concat 'ANARCHY.common.roll.risk.' roll.subrolls.risk.outcome)}}
  </div>
{{/if}}
