<div>
  <hr>
  <div class="form-group">
    <label for="sourcereference">{{localize 'SRA.common.sourcereference'}} </label>
    <input class="item-field-value" type="text" data-dtype="String"
        name="data.sourcereference" value="{{data.data.sourcereference}}" 
        placeholder="{{localize 'SRA.common.sourcereferencehelp'}}"
    />
  </div>
  <hr>
  <div class="flexcol">
    <span><label>{{localize 'SRA.common.description'}}</label></span>
    <div class="form-group editor">
      {{editor
        target="data.description"
        owner=options.owner
        content=data.data.description
        button=true
        editable=options.editable}}
    </div>
  </div>

{{#if options.isGM}}
  <hr>
  <div class="flexcol">
    <span><label>{{localize 'SRA.common.gmnotes'}}</label></span>
    <div class="form-group editor">
      {{editor
        target="data.gmnotes"
        owner=options.owner
        content=data.data.gmnotes
        button=true
        editable=options.editable}}
    </div>
  </div>
{{/if}}
</div>
