{{! 
  data is:
  {
    code: "stun", // identifying the monitor"
    value: 0, // current value in monitor
    max: 9 // max value in monitor
    labelkey: "ANARCHY.actor.monitors.stun", label key (to internationalize), used also for css class
    rowlength: 3, // count of checks per row
    adjust: true, // indicates to compute & display adjustment,
    iconChecked: "<i class='fas fa-circle'></i>" , or "<img src='systems/anarchy/icons/svg/icon.svg'/>""
    iconUnchecked: "<i class='far fa-circle'></i>"
  }
}}
<div class="checkbar-root" data-monitor-code="{{code}}" title="{{localize labelkey}}">
  <div {{#if rowlength}}
    style="grid-column: span {{rowlength}} / span {{rowlength}}; grid-template-columns: repeat({{rowlength}}, minmax(0, 1fr));"
  {{/if}}>
  {{#for 0 max}}
    {{#if (and ../rowlength (eq 0 (modulo this ../rowlength)) (gt this 0))}}
      </div>
      <div style="grid-column: span {{../rowlength}} / span {{../rowlength}}; grid-template-columns: repeat({{../rowlength}}, minmax(0, 1fr));">
    {{/if}}

    {{#if (lt this ../value)}}
      <a class="click-checkbar-element" data-index="{{this}}" data-checked="true">{{{../iconChecked}}}</a>
    {{else}}
      <a class="click-checkbar-element" data-index="{{this}}" data-checked="false">{{{../iconUnchecked}}}</a>
    {{/if}}

    {{#if ../adjust}}
      {{#if (and  ../rowlength (gt this ../rowlength))}}
        {{#if (or (eq ../rowlength (sum 1 (modulo this ../rowlength))) (eq (sum this 1) ../max))}}
          <label>-{{divint this ../rowlength}}</label>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/for}}
  </div>
</div>
