{{! 
  data is:
  {
    damage: 1, // the damage or damage modifier
    strength: true, // damage is based on strength
    monitor: 'stun' // damage is stun/physical
  }
}}
{{#if actorStrength}}
  {{weaponDamageValue monitor damage strength actorStrength}}
{{~else}}
  {{weaponDamageCode monitor damage strength}}
{{~/if~}}
{{weaponDamageLetter monitor}}
{{{iconCheckbarHit monitor}}}

{{#if (eq armor 'noArmor')}}
<span title="{{localize 'ANARCHY.item.weapon.noArmor'}}">{{{iconFA 'fas fa-user-times'}}}</span>
{{else if (eq armor 'withArmor')}}
<span title="{{localize 'ANARCHY.item.weapon.withArmor'}}">{{{iconFA 'fas fa-user-shield'}}}</span>
{{/if}}
