{{! 
  data is:
  {
    damage: 1, // the damage or damage modifier
    strength: true, // damage is based on strength
    monitor: 'stun' // damage is stun/physical
  }
}}
{{#if actorStrength}}
  {{damageValue damage strength actorStrength}}
{{~else}}
  {{damageCode damage strength}}{{~/if}}{{damageLetter monitor}}
{{#if noArmor}}
<span title="{{localize 'ANARCHY.item.weapon.noArmor'}}">{{{iconFA 'fas fa-user-times'}}}</span>
{{else}}
<span title="{{localize 'ANARCHY.item.weapon.withArmor'}}">{{{iconFA 'fas fa-user-shield'}}}</span>
{{/if}}
