{{! 
  data is:
  {
    damage: 1, // the damage or damage modifier
    damageAttribute: the attribute used for damage, if any
    actorAttribute: the actor value for the attribute
    monitor: 'stun' // damage is stun/physical
  }
}}
{{#if damageAttribute}}
  {{weaponDamageValue monitor damage damageAttribute actorAttribute}}
{{~else}}
  {{weaponDamageCode monitor damage damageAttribute}}
{{~/if~}}
{{weaponDamageLetter monitor}}
{{{iconCheckbarHit monitor}}}

{{#if (eq armor 'noArmor')}}
<span title="{{localize 'ANARCHY.item.weapon.noArmor'}}">{{{iconFA 'fas fa-user-times'}}}</span>
{{else if (eq armor 'withArmor')}}
<span title="{{localize 'ANARCHY.item.weapon.withArmor'}}">{{{iconFA 'fas fa-user-shield'}}}</span>
{{/if}}
