<div class="{{either controlDivClass 'flex-shrink-end'}}">
<a class="item-control click-item-edit" title="{{localize SRA.common.edit}}">
  {{{iconFA 'fas fa-edit'}}}
</a>
<a class="item-control click-item-delete" title="{{localize SRA.common.del}}">
  {{{iconFA 'fas fa-trash'}}}
</a>
</div>
