<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    {{> 'systems/anarchy/templates/item/parts/itemname.hbs'
      labelkey='ANARCHY.itemType.singular.quality'
      type="quality"
    }}
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label for="data.positive">{{localize 'ANARCHY.item.quality.positive'}} </label>
      <input class="item-field-value" type="checkbox" name="data.positive" {{checked data.data.positive}} />
    </div>

    {{> 'systems/anarchy/templates/item/parts/references.hbs'}}
  </section>

</form>
