<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    {{> 'systems/shadowrun-anarchy/templates/item/parts/itemname.hbs'
      labelkey='SRA.itemType.singular.skill'
      type="skill"
    }}
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label for="data.attribute">{{localize 'SRA.itemSheet.skill.attribute'}} </label>
      <select name="data.attribute" data-dtype="String">
          {{#select data.data.attribute}}
          {{> 'systems/shadowrun-anarchy/templates/common/enum-attributes.hbs'}}
          {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label for="data.value">{{localize 'SRA.itemSheet.skill.value'}} </label>
      <input class="item-field-value" type="text" name="data.value" value="{{data.data.value}}" data-dtype="Number"/>
    </div>
    <div class="form-group">
      <label for="data.specialization">{{localize 'SRA.itemSheet.skill.specialization'}} </label>
      <input class="item-field-value" type="text" data-dtype="String"
          name="data.specialization" value="{{data.data.specialization}}" 
          placeholder="{{localize 'SRA.itemSheet.skill.specializationhelp'}}"
      />
    </div>
    {{> 'systems/shadowrun-anarchy/templates/item/parts/references.hbs'}}
  </section>

</form>
