<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    {{#if options.isKnowledge}}
      {{> 'systems/shadowrun-anarchy/templates/item/parts/itemname.hbs'
        labelkey='SRA.itemType.singular.skill'
        type="skill"
      }}
    {{else}}
    <h1 class="item-name">
      <select name="data.code" data-dtype="String">
          {{#select data.data.code}}
          {{> 'systems/shadowrun-anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.skills}}
          {{/select}}
      </select>
      {{data.name}}
    </h1>
    {{/if}}
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <input class="item-field-value check-knowledge" type="checkbox" {{checked options.isKnowledge}}>
        {{localize 'SRA.attributes.knowledge'}}
      </input>
    </div>
    {{#if options.isGM}}
    <div class="form-group">
      <label>{{localize 'SRA.item.skill.code'}} </label>
      <input class="item-field-value" type="text" value="{{data.data.code}}" data-dtype="Number" disabled/>
    </div>
    {{/if}}
    {{#unless options.isKnowledge}}
    <div class="form-group">
      <label>{{localize 'SRA.item.skill.attribute'}} </label>
      <span class="item-field-value">{{localize (concat 'SRA.attributes.' data.data.attribute)}}</span>
    </div>
    <div class="form-group">
      <label for="data.value">{{localize 'SRA.item.skill.value'}} </label>
      <input class="item-field-value" type="text" name="data.value" value="{{data.data.value}}" data-dtype="Number"/>
    </div>
    {{/unless}}
    <div class="form-group">
      <label for="data.specialization">{{localize 'SRA.item.skill.specialization'}} </label>
      <input class="item-field-value" type="text" data-dtype="String"
          name="data.specialization" value="{{data.data.specialization}}"
          placeholder="{{localize 'SRA.item.skill.specializationhelp'}}"
      />
    </div>
    {{> 'systems/shadowrun-anarchy/templates/item/parts/references.hbs'}}
  </section>

</form>
